<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium">
	<test name="Regression">

		<classes>
			<class name="com.edureka.tentng.M6BaseTest"></class>
			<class name="com.edureka.tentng.M6LogIn"></class>
		</classes>
	</test> <!-- Regression -->
</suite> <!-- Selenium -->
